html,
body {
  margin: 0px;
  color: white;
  background-color: lightgreen;
}

.title {
  text-align: center;
  background-color: green;
  color: white;
  font-size: 30px;
}

.carta {
  width: 150px;
  position: relative;
  left: 100px;
  margin-left: -75px;
}

#computadora-cartas,
#jugador-cartas {
  height: 250px;
}
